services:
  _defaults:
    autoconfigure: true
    autowire: true

  Guave\FormSaveBundle\:
    resource: ../src
    exclude: ../src/{ContaoManager,DependencyInjection}

  Guave\FormSaveBundle\EventListener\:
    resource: ../src/EventListener
    public: true

  Guave\FormSaveBundle\Migration\:
    resource: ../src/Migration
    tags:
      - { name: contao.migration, priority: 0 }
